<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Trips show page</h1>
    The <%=trip.name; %> was taken in <%=trip.date; %>. Here are the notes: <%=trip.notes %>
  </body>
</html>
