<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/app.css">
    <title></title>
  </head>
  <body>
    <h1>Trips index page</h1>
    <ul>
      <% for(let i = 0; i < trips.length; i++){ %>
      <li>The <a href="/trips/<%=trips[i].id; %>"><%=trips[i].name; %></a> trip was taken <%=trips[i].date; %>.
      </li>
      <% } %>
    </ul>
  </body>
</html>
